/**
  Theme, used to define specific fonts, sizes and colors that

  In ideal world (sass or css-in-js) this file would also export variables so that in components/pages you would never use any static value
*/

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

a:hover,
a:visited {
  color: white;
  text-decoration: none;
}

h1 {
  color: white;
}
