/**
  Header is being used almost on every page, 
  
  if you have header that is diffferent then this one,
  you would preferably create another header file, and then you would have different names as well
*/

header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 850px) {
  /* Css rules */
}

header .logo {
  fill: white;
}

.left-nav {
  display: flex;
  align-items: center;
}

header a {
  margin: 15px;
}

.left-nav .promo {
  padding: 4px 6px;
  border-radius: 3px;
  background: rgb(5, 177, 105);
}

.right-nav .get-started {
  border-radius: 4px;
  transition: all 80ms ease-in-out 0s;
  padding: 12px 16px;
  border: 1px solid white;
}
