/**
  Code that is only relevant this (homepage) page
  this is a different layer of abstaction compared to the components

  In here you would work on styles that are not part of any copmonent
  anything that can be re-used would be used in components preferably
  if not in component
*/

.homepage {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(180deg, rgb(22, 82, 240) 400px, white 0%);
}
